<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile - Brand</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" th:href="@{/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/fonts/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/fonts/fontawesome5-overrides.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" th:href="@{/css/Off-Canvas-Sidebar-Drawer-Navbar.css}">
    <link rel="stylesheet" th:href="@{/css/Pretty-Search-Form.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/Table-With-Search-1.css}">
    <link rel="stylesheet" th:href="@{/css/Table-With-Search.css}">
    <link rel="stylesheet" th:href="@{/css/vanilla-zoom.min.css}">
</head>

<body id="page-top">

<!-- 				NAV BAR -->
<div th:replace="block/navbar::nav-header"></div>

    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="margin-top: 15%;width: 80%;">
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><span>Manger</span></a></li>
                            <li class="breadcrumb-item"><a href="#"><span>MyMenu</span></a></li>
                            <li class="breadcrumb-item"><a href="#"><span>Add</span></a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div></div>
<!--             add information -->
            <div class="container-fluid">
                <h3 class="text-dark mb-4">新增菜單</h3>
                <div class="row mb-3">
                    <div class="col-lg-4">
                        <div class="card mb-3">
                            <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="../assets/img/dogs/image2.jpeg" width="160" height="160">
                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="button">上傳圖片</button></div>
                            </div>
                        </div>
                        <div class="card shadow mb-4"></div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row mb-3 d-none">
                            <div class="col">
                                <div class="card textwhite bg-primary text-white shadow">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <p class="m-0">Peformance</p>
                                                <p class="m-0"><strong>65.2%</strong></p>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                        </div>
                                        <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card textwhite bg-success text-white shadow">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <p class="m-0">Peformance</p>
                                                <p class="m-0"><strong>65.2%</strong></p>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                        </div>
                                        <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold">DISH</p>
                                    </div>
                                    <div class="card-body">
                                     <form action="#" th:action="@{/api/list/addDish}"
						 								 th:object="${dishsDTO}" method="post">
										<!-- <input type="hidden" th:field="*{dishNo}" /> -->
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="dish_name"><strong>DISH_NAME</strong>
                                                    </label><input class="form-control" type="text" th:field="*{dishName}" id="dish_name" placeholder="義大利麵" name="dishname"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="dish_price"><strong>DISH_PRICE</strong>
                                                    <br></label><input class="form-control" type="number" th:field="*{dishPrice}" id="dish_price" placeholder="$1000" name="dishprice"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="dish_type"><strong>DISH_TYPE</strong>
                                                    <br></label><select th:field="*{dishType}" class="form-select">
                                                            <optgroup label="This is a group">
                                                                <option value="0" selected="">請選擇</option>
                                                                <option th:each="tempDishType: ${dishType}" th:value="${tempDishType.dishType}" th:text="${tempDishType.dishType}"/>
                                                            </optgroup>
                                                        </select></div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="last_name"><strong>DISH_QUANTITY</strong>
                                                    </label><input class="form-control" type="number" th:field="*{dishQuantity}" id="dish_quantity" placeholder="100" name="dishQuantity"></div>
                                                </div>
                                            </div>
                                            <div class="mb-3"></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="card shadow"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-5">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">DISH_NOTE</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <form action="#" th:action="@{/api/list/addDish}"
						 								 th:object="${dishsDTO}" method="post">
                                    <div class="mb-3"><label class="form-label" for="*{dishNote}"><strong>Content</strong>
                                    <br></label><textarea class="form-control" th:field="*{dishNote}" id="signature" rows="4" name="signature"></textarea></div>
                                    <div class="mb-3"></div>
                                    <div class="mb-3"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div align="center"><button class="btn btn-primary btn-sm" type="submit">add Settings</button></div>
                </div>
            </div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/Off-Canvas-Sidebar-Drawer-Navbar.js}"></script>
    <script th:src="@{/js/agency.js}"></script>
    <script th:src="@{/js/Off-Canvas-Sidebar-Drawer-Navbar-1.js}"></script>
    <script th:src="@{/js/Table-With-Search.js}"></script>
    <script th:src="@{/js/theme.js}"></script>
</body>

</html>