<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile - Brand</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" th:href="@{/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/fonts/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/fonts/fontawesome5-overrides.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" th:href="@{/css/Off-Canvas-Sidebar-Drawer-Navbar.css}">
    <link rel="stylesheet" th:href="@{/css/Pretty-Search-Form.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/Table-With-Search-1.css}">
    <link rel="stylesheet" th:href="@{/css/Table-With-Search.css}">
    <link rel="stylesheet" th:href="@{/css/vanilla-zoom.min.css}">
    <!-- 以下兩行為csrf設定 https://blog.csdn.net/Dongguabai/article/details/81150989 -->
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="margin-top: 15%;margin-left: 10%;width: 80%;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><span>SuperManger</span></a></li>
                                <li class="breadcrumb-item"><a href="#"><span>權限管理</span></a></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-12 col-xxl-12 offset-xxl-0 search-table-col">
                        <div class="form-group pull-left col-lg-3">
                            <input type="text" class="search form-control" id="keyWord"
                                   placeholder="請輸入管理員相關資料">
                        </div><span class="counter"></span><span class="counter"></span><label class="form-label" style="margin-top: 8px;">管理員狀態:&nbsp;</label>
                        <select id="level">
                            <optgroup label="This is a group">
                                <option value="" selected="">請選擇</option>
                                <option value="MANAGER">管理員</option>
                                <option value="SUPER_MANAGER">超級管理員</option>
                            </optgroup>
                        </select>
                        <button class="btn btn-success" id="findAdmin">查詢</button>
                        <button class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" id="insert-admin">新增管理員</button>
                        <div class="table-responsive table table-hover table-bordered results">
                            <table class="table table-hover table-bordered" id="adminQueryTable">
                                <thead class="bill-header cs">
                                    <tr>
                                        <th id="trs-hd" class="col-lg-1">管理員編號</th>
                                        <th id="trs-hd" class="col-lg-1">原會員編號</th>
                                        <th id="trs-hd" class="col-lg-1">帳號</th>
                                        <th id="trs-hd" class="col-lg-1">姓名</th>
                                        <th id="trs-hd" class="col-lg-1">手機</th>
                                        <th id="trs-hd-2" class="col-lg-2">地址</th>
                                        <th id="trs-hd" class="col-lg-1">等級</th>
                                        <th id="trs-hd" class="col-lg-1">功能權限</th>
                                        <th id="trs-hd" class="col-lg-1">Action</th>
                                    </tr>
                                </thead>
                                <tbody id = "admin_tbody">
                                </tbody>
                            </table>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content" style="background-color:white">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    &nbsp;管理員編號:
                                                </label>
                                                <div class="col-sm-8" >
                                                    <input type="number"
                                                           class="form-control short" min="1"
                                                           id="admNo"/>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">
                                                    &nbsp;<font color='red'>*</font>原會員編號:
                                                </label>
                                                <div class="col-sm-8" >
                                                    <input type="number"
                                                           class="form-control short" min="1"
                                                           id="memNo" required/>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label class="control-label col-sm-3">
                                                    <font color='red'>*</font>等級:
                                                </label>
                                                <div class="col-sm-9">
                                                    <select id="select-level" required>
                                                        <option id="level_choice">請選擇
                                                        </option>
                                                        <option value="MANAGER" id="MANAGER">管理員</option>
                                                        <option value="SUPER_MANAGER" id="SUPER_MANAGER">超級管理員</option>
                                                    </select> &nbsp;&nbsp;
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group" id="divFeatures">
                                                <label class="control-label col-sm-4">
                                                    &nbsp;功能權限:
                                                </label>
                                                <div class="col-sm-8" >
                                                    <input type="checkbox" name="functionCheck"
                                                           class="review_check"
                                                           value="1">&nbsp;<span name="functionCheckName">菜單管理
                                                </span><br>
                                                    <input type="checkbox" name="functionCheck"
                                                           class="review_check"
                                                           value="2">&nbsp;<span name="functionCheckName">訂單管理</span><br>
                                                    <input type="checkbox" name="functionCheck"
                                                           class="review_check"
                                                           value="3">&nbsp;<span name="functionCheckName">會員管理</span><br>
                                                    <input type="checkbox" name="functionCheck"
                                                           class="review_check"
                                                           value="4">&nbsp;<span name="functionCheckName">會員管理</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal" id="closeSaveWindow">關閉
                                            </button>
                                            <button type="button" class="btn btn-primary"
                                                    id="saveAdmin">存檔
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="block/showMessage::showMessage"></div>
            <div th:replace="block/showConfirmMessage::showConfirmMessage"></div>


    		<div th:replace="block/footer::footer-bottom"></div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <div th:replace="block/navbar::nav-header"></div>
    
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/Off-Canvas-Sidebar-Drawer-Navbar.js}"></script>
    <script th:src="@{/js/agency.js}"></script>
    <script th:src="@{/js/Off-Canvas-Sidebar-Drawer-Navbar-1.js}"></script>
    <script th:src="@{/js/Table-With-Search.js}"></script>
    <script th:src="@{/js/theme.js}"></script>
    <script th:src="@{/js/showMessage.js}"></script>
    <script th:src="@{/js/showConfirmMessage.js}"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script th:src="@{/js/qualification.js}" th:inline="javascript">

    </script>

</body>

</html>